In [165]:
from google.colab import drive
drive.mount('/mount')

Drive already mounted at /mount; to attempt to forcibly remount, call drive.mount("/mount", force_remount=True).

In [166]:
cd /mount/My Drive/Colab Notebooks/MDA/HW1

/mount/My Drive/Colab Notebooks/MDA/HW1

In [2]:
ls

q1.ipynb

In [3]:
import pandas as pd
 
df = pd.read_csv('IMDB-Movie-Data.csv')
df.head(5)
# df.loc[624]

ModuleNotFoundError: No module named 'pandas'

In [169]:
# type(df.head()['Genre'].str.split(','))
# df.head()['Genre'].str.split(',').dtype
# df.head()['Genre'].str.split(',')[0]
# type(df.head()['Genre'].str.split(',')[0])

In [170]:
sample = df.head()
geners = pd.Series(df['Genre'].str.split(',').sum()).unique()
geners

array(['Action', 'Adventure', 'Sci-Fi', 'Mystery', 'Horror', 'Thriller',
       'Animation', 'Comedy', 'Family', 'Fantasy', 'Drama', 'Music',
       'Biography', 'Romance', 'History', 'Crime', 'Western', 'War',
       'Musical', 'Sport'], dtype=object)

In [171]:
# df.Genre.str.split(',').str.len()
# df.Genre.str.split(',').sum()[:10]


deformed_df = df.reindex(df.index.repeat(df.Genre.str.split(',').str.len()))
deformed_df['Genre'] = df.Genre.str.split(',').sum()
deformed_df.head(5)

   Rank                    Title  ... Revenue (Millions) Metascore
0     1  Guardians of the Galaxy  ...             333.13      76.0
0     1  Guardians of the Galaxy  ...             333.13      76.0
0     1  Guardians of the Galaxy  ...             333.13      76.0
1     2               Prometheus  ...             126.46      65.0
1     2               Prometheus  ...             126.46      65.0

[5 rows x 12 columns]

Note that we have NaN values, so simply dividing sum by size doesn't give us mean. But mean function handles this for us.

In [172]:
# sample = deformed_df.head()
# sample.groupby('Genre')['Revenue (Millions)'].agg('sum')
# sample.groupby('Genre')['Revenue (Millions)'].size()

# display(deformed_df.groupby('Genre')['Revenue (Millions)'].size())
# display(deformed_df.groupby('Genre')['Revenue (Millions)'].agg('sum'))
display(deformed_df.groupby('Genre')['Revenue (Millions)'].mean())

Genre
Action       124.494476
Adventure    154.177024
Animation    191.223404
Biography     55.801600
Comedy        75.750784
Crime         61.804769
Drama         49.844205
Family       126.175714
Fantasy      131.850108
History       52.923846
Horror        36.705269
Music         47.070000
Musical       81.642000
Mystery       54.627640
Romance       42.503023
Sci-Fi       135.552545
Sport         65.042500
Thriller      69.577255
War           53.433000
Western      111.824000
Name: Revenue (Millions), dtype: float64

In [173]:
deformed_df[deformed_df.Genre=='Western']

     Rank                              Title  ... Revenue (Millions) Metascore
38     39              The Magnificent Seven  ...              93.38      54.0
139   140                          Brimstone  ...                NaN      44.0
144   145                   Django Unchained  ...             162.80      81.0
642   643                   The Ridiculous 6  ...                NaN      18.0
743   744                          True Grit  ...             171.03      80.0
745   746  A Million Ways to Die in the West  ...              42.62      44.0
969   970                    The Lone Ranger  ...              89.29       NaN

[7 rows x 12 columns]

<div dir = rtl>
مشکلی که اینجا با آن 
  $\mathbf{a}$

 
  </div>

##ج

In [181]:
df3 = df[df.Year.between(2006,2016)]
# df3 = df3.sort_values(by='Year')
df3.head()

   Rank                    Title  ... Revenue (Millions) Metascore
0     1  Guardians of the Galaxy  ...             333.13      76.0
1     2               Prometheus  ...             126.46      65.0
2     3                    Split  ...             138.12      62.0
3     4                     Sing  ...             270.32      59.0
4     5            Suicide Squad  ...             325.02      40.0

[5 rows x 12 columns]

In [192]:
actors = pd.Series(df3.Actors.str.split(',').sum()).str.strip().unique()
actors

array(['Chris Pratt', 'Vin Diesel', 'Bradley Cooper', ...,
       'Thomas Middleditch', 'Shannon Woodward', 'Cheryl Hines'],
      dtype=object)

### راه اول

In [343]:
deformed_df3 = df.reindex(df.index.repeat(df.Actors.str.split(',').str.len()))
# deformed_df3['Actor'] = pd.Series(df3.Actors.str.split(',').sum()).str.strip()
deformed_df3['Actor'] = df3.Actors.str.split(',').sum()
# deformed_df3 = deformed_df3.drop('Actors', axis=1)
deformed_df3 = deformed_df3[['Actor','Title']]
deformed_df3.Actor = deformed_df3.Actor.str.strip()
deformed_df3.head(10)

                  Actor                    Title
0           Chris Pratt  Guardians of the Galaxy
0            Vin Diesel  Guardians of the Galaxy
0        Bradley Cooper  Guardians of the Galaxy
0           Zoe Saldana  Guardians of the Galaxy
1          Noomi Rapace               Prometheus
1  Logan Marshall-Green               Prometheus
1    Michael Fassbender               Prometheus
1       Charlize Theron               Prometheus
2          James McAvoy                    Split
2       Anya Taylor-Joy                    Split

In [ ]:
# pd.Series(df3.Actors.str.split(',').sum()).str.strip()
# df3.Actors.str.split(',').sum()[:5]
# df3.Actors.str.split(',')

In [344]:
# sample = deformed_df3.head()
# deformed_df3 = pd.merge(sample,sample, on='Title', suffixes = ('_left','_right'))
deformed_df3 = pd.merge(deformed_df3,deformed_df3, on='Title', suffixes = ('_left','_right'))
deformed_df3 = deformed_df3[deformed_df3.Actor_left != deformed_df3.Actor_right]
deformed_df3

         Actor_left                    Title      Actor_right
1       Chris Pratt  Guardians of the Galaxy       Vin Diesel
2       Chris Pratt  Guardians of the Galaxy   Bradley Cooper
3       Chris Pratt  Guardians of the Galaxy      Zoe Saldana
4        Vin Diesel  Guardians of the Galaxy      Chris Pratt
6        Vin Diesel  Guardians of the Galaxy   Bradley Cooper
...             ...                      ...              ...
16018  Robbie Amell               Nine Lives  Jennifer Garner
16020  Robbie Amell               Nine Lives     Cheryl Hines
16021  Cheryl Hines               Nine Lives     Kevin Spacey
16022  Cheryl Hines               Nine Lives  Jennifer Garner
16023  Cheryl Hines               Nine Lives     Robbie Amell

[12026 rows x 3 columns]

In [345]:
deformed_df3[['Actor_left', 'Actor_right']] = np.sort(deformed_df3[['Actor_left', 'Actor_right']], axis=1)
# deformed_df3_temp = deformed_df3.groupby(by=['Actor_left','Title','Actor_right']).first()
deformed_df3 = deformed_df3.drop_duplicates(subset=['Actor_left', 'Title', 'Actor_right'], keep='first')
deformed_df3.head(15)

              Actor_left                    Title           Actor_right
1            Chris Pratt  Guardians of the Galaxy            Vin Diesel
2         Bradley Cooper  Guardians of the Galaxy           Chris Pratt
3            Chris Pratt  Guardians of the Galaxy           Zoe Saldana
6         Bradley Cooper  Guardians of the Galaxy            Vin Diesel
7             Vin Diesel  Guardians of the Galaxy           Zoe Saldana
11        Bradley Cooper  Guardians of the Galaxy           Zoe Saldana
17  Logan Marshall-Green               Prometheus          Noomi Rapace
18    Michael Fassbender               Prometheus          Noomi Rapace
19       Charlize Theron               Prometheus          Noomi Rapace
22  Logan Marshall-Green               Prometheus    Michael Fassbender
23       Charlize Theron               Prometheus  Logan Marshall-Green
27       Charlize Theron               Prometheus    Michael Fassbender
33       Anya Taylor-Joy                    Split          James McAvoy
34   Haley Lu Richardson                    Split          James McAvoy
35          James McAvoy                    Split          Jessica Sula

In [365]:
result3 = deformed_df3.groupby(by=['Actor_left','Actor_right'])['Title'].apply(list).reset_index(name='Titles')
result3 = result3[result3['Titles'].str.len()>3]
# result3.head()
result3

                Actor_left  ...                                             Titles
152           Adam Sandler  ...  [Pixels, Grown Ups 2, Grown Ups, Hotel Transyl...
2305      Daniel Radcliffe  ...  [Harry Potter and the Deathly Hallows: Part 2,...
2315      Daniel Radcliffe  ...  [Harry Potter and the Deathly Hallows: Part 2,...
2953           Emma Watson  ...  [Harry Potter and the Deathly Hallows: Part 2,...
3418  Helena Bonham Carter  ...  [Alice Through the Looking Glass, Alice in Won...
3992     Jennifer Lawrence  ...  [The Hunger Games, The Hunger Games: Mockingja...
3995     Jennifer Lawrence  ...  [The Hunger Games, The Hunger Games: Mockingja...
4359       Josh Hutcherson  ...  [The Hunger Games, The Hunger Games: Mockingja...
4653       Kristen Stewart  ...  [Twilight, The Twilight Saga: Breaking Dawn - ...
5421           Paul Walker  ...  [Furious Seven, Furious 6, Fast Five, Fast & F...

[10 rows x 3 columns]

In [380]:
# result3['Actor_left'] + result3['Actor_right']
# result3['Titles'] = result3.Titles.str.join(',')
# result3['Actors'] = result3.apply(lambda x: [x['Actor_left'], x['Actor_right']], axis=1)
# result3.groupby(by='Titles')[['Titles','Actors']].agg('sum')['Actors']
# result3.groupby(by='Titles').agg('sum')['Actors']
result3.groupby(by='Titles').agg('sum')['Actors']

Titles
Alice Through the Looking Glass,Alice in Wonderland,Sweeney Todd: The Demon Barber of Fleet Street,Dark Shadows                                                                             [Helena Bonham Carter, Johnny Depp]
Furious Seven,Furious 6,Fast Five,Fast & Furious                                                                                                                                                      [Paul Walker, Vin Diesel]
Harry Potter and the Deathly Hallows: Part 2,Harry Potter and the Order of the Phoenix,Harry Potter and the Deathly Hallows: Part 1,Harry Potter and the Half-Blood Prince    [Daniel Radcliffe, Emma Watson, Daniel Radclif...
Pixels,Grown Ups 2,Grown Ups,Hotel Transylvania 2                                                                                                                                                   [Adam Sandler, Kevin James]
The Hunger Games,The Hunger Games: Mockingjay - Part 2,The Hunger Games: Catching Fire,The Hunger Games: Mockingjay - Part 1                                                  [Jennifer Lawrence, Josh Hutcherson, Jennifer ...
Twilight,The Twilight Saga: Breaking Dawn - Part 2,The Twilight Saga: Breaking Dawn - Part 1,The Twilight Saga: Eclipse                                                                     [Kristen Stewart, Robert Pattinson]
Name: Actors, dtype: object

### راه دوم

In [335]:
deformed_df3 = df.reindex(df.index.repeat(df.Actors.str.split(',').str.len()))
# deformed_df3['Actor'] = pd.Series(df3.Actors.str.split(',').sum()).str.strip()
deformed_df3['Actor'] = df3.Actors.str.split(',').sum()
# deformed_df3 = deformed_df3.drop('Actors', axis=1)
deformed_df3 = deformed_df3[['Actor','Title']]
deformed_df3.Actor = deformed_df3.Actor.str.strip()
deformed_df3.head(10)

                  Actor                    Title
0           Chris Pratt  Guardians of the Galaxy
0            Vin Diesel  Guardians of the Galaxy
0        Bradley Cooper  Guardians of the Galaxy
0           Zoe Saldana  Guardians of the Galaxy
1          Noomi Rapace               Prometheus
1  Logan Marshall-Green               Prometheus
1    Michael Fassbender               Prometheus
1       Charlize Theron               Prometheus
2          James McAvoy                    Split
2       Anya Taylor-Joy                    Split

In [336]:
deformed_df3 = pd.merge(deformed_df3,deformed_df3, on='Actor', suffixes = ('_left','_right'))
deformed_df3 = deformed_df3[deformed_df3.Title_left != deformed_df3.Title_right]
deformed_df3

                  Actor  ...                     Title_right
1           Chris Pratt  ...                      Passengers
2           Chris Pratt  ...           The Magnificent Seven
3           Chris Pratt  ...                  Jurassic World
4           Chris Pratt  ...                  The Lego Movie
5           Chris Pratt  ...                Zero Dark Thirty
...                 ...  ...                             ...
15918    Robert Patrick  ...            Bridge to Terabithia
15988       Thomas Mann  ...                       Project X
15989       Thomas Mann  ...  Me and Earl and the Dying Girl
16005  Evan Rachel Wood  ...             Across the Universe
16006  Evan Rachel Wood  ...                 Into the Forest

[12084 rows x 3 columns]

In [338]:
deformed_df3[['Title_left', 'Title_right']] = np.sort(deformed_df3[['Title_left', 'Title_right']], axis=1)
deformed_df3 = deformed_df3.drop_duplicates(subset=['Title_left', 'Actor', 'Title_right'], keep='first')
deformed_df3.head(15)

                  Actor                      Title_left            Title_right
1           Chris Pratt         Guardians of the Galaxy             Passengers
2           Chris Pratt         Guardians of the Galaxy  The Magnificent Seven
3           Chris Pratt         Guardians of the Galaxy         Jurassic World
4           Chris Pratt         Guardians of the Galaxy         The Lego Movie
5           Chris Pratt         Guardians of the Galaxy       Zero Dark Thirty
...                 ...                             ...                    ...
15881     Kristin Davis                Sex and the City     Sex and the City 2
15890       David Morse                      Concussion              Disturbia
15917    Robert Patrick            Bridge to Terabithia           Endless Love
15988       Thomas Mann  Me and Earl and the Dying Girl              Project X
16005  Evan Rachel Wood             Across the Universe        Into the Forest

[6042 rows x 3 columns]

In [342]:
result3 = deformed_df3.groupby(by=['Title_left','Title_right'])['Actor'].apply(list).reset_index(name='Actors')
result3 = result3[result3['Actors'].str.len()>1]
# result3.head()
result3

                          Title_left  ...                                             Actors
45                          10 Years  ...                [Channing Tatum, Jenna Dewan Tatum]
126                             2012  ...                 [Chiwetel Ejiofor, Thandie Newton]
134               20th Century Women  ...                       [Greta Gerwig, Billy Crudup]
146                               21  ...                      [Kate Bosworth, Kevin Spacey]
148                   21 Jump Street  ...             [Jonah Hill, Channing Tatum, Ice Cube]
...                              ...  ...                                                ...
5768                    Transformers  ...        [Shia LaBeouf, Josh Duhamel, Tyrese Gibson]
5769                    Transformers  ...  [Shia LaBeouf, Megan Fox, Josh Duhamel, Tyrese...
5770  Transformers: Dark of the Moon  ...        [Shia LaBeouf, Josh Duhamel, Tyrese Gibson]
5807               X-Men: Apocalypse  ...  [Michael Fassbender, James McAvoy, Jennifer La...
5808      X-Men: Days of Future Past  ...                    [Hugh Jackman, Patrick Stewart]

[171 rows x 3 columns]

##د

In [305]:
df4 = df[(df['Runtime (Minutes)']>110) & (7.5<df.Rating) & (df.Rating<8.5)]
# display(df4.head(5))
geners4 = pd.Series(df4.Genre.str.split(',').sum()).unique()
geners4

array(['Action', 'Adventure', 'Sci-Fi', 'Comedy', 'Drama', 'Music',
       'Biography', 'History', 'Mystery', 'Fantasy', 'War', 'Crime',
       'Thriller', 'Western', 'Romance', 'Sport', 'Musical', 'Family',
       'Animation', 'Horror'], dtype=object)

##ه

In [ ]:
deformed_df5 = df.reindex(df.index.repeat(df.Actors.str.split(',').str.len()))
deformed_df5['Actor'] = df.Actors.str.split(',').sum()
deformed_df5 = deformed_df5[['Actor','Title']]
deformed_df5.head(10)